    <video autoplay muted loop playsinline class="background-video">
        <source src="hollow-knight-voidheart.mp4" type="video/mp4">
    </video>
<section id="content" class="w-screen bg-black text-white py-1">
<div class="w-full flex justify-center mt-4">
<!--<div class="flex item-center space-x-2">-->
<img src="titulos/Titulo.png" width="800px" />
</div>
<!--</div>-->
</section><br>
<p> Hollow Knight es un videojuego de acción y aventura desarrollado por Team Cherry. Fue lanzado en 2017 y ha ganado una gran popularidad por su estilo artístico, jugabilidad desafiante y mundo expansivo. 
    <br>Hollow Knight es un videojuego perteneciente al género metroidvania. El videojuego fue inicialmente lanzado para Microsoft Windows en febrero de 2017, y más tarde para macOS y Linux en abril de 2017.
    <br>La adaptación para Nintendo Switch fue lanzada el 12 de junio de 2018. El desarrollo fue parcialmente financiado como un proyecto Kickstarter que obtuvo 57 000 dólares hasta finales de 2014.
    <br>El juego fue lanzado en las consolas PlayStation 4 y Xbox One el 25 de septiembre de 2018.
    <br>
    <br>El videojuego cuenta la historia del Caballero, en su búsqueda para descubrir los secretos del largamente abandonado reino de Hallownest, cuyas profundidades atraen a los aventureros
    <br> y valientes con la promesa de tesoros o la respuesta a misterios antiguos.
    <br>
    <br>A continuación, te proporciono una guía básica para comenzar en el gran mundo de Hollow Knight:</p>
    <br>
<p class="text-2xl"> En que plataforma juegas? </p>
<h5 class="font-medium"> {{plataforma()}} </h5>
<div class="flex justify-center mt-10">
    <!--Nintendo Switch-->
<button id="tilin" (click)="cambio()" class="w-20 h-23 gap-3 px-5 py-3 bg-black/50 rounded-xl relative overflow-hidden hover:scale-105 transition-transform duration-300"> 
<img src="https://static.vecteezy.com/system/resources/previews/020/118/334/non_2x/nintendo-switch-logo-free-download-free-vector.jpg" class="absolute inset-0 w-full h-full object-cover">  
<span class="relative font-bold text-lg">{{cambio()}} </span></button>
    <!--PS4-->
<button id="tilin2" (click)="cambio2()" class="w-20 h-23 gap-3 px-5 py-3 bg-black/50 rounded-xl relative overflow-hidden hover:scale-105 transition-transform duration-300"> 
<img src="https://static.vecteezy.com/system/resources/previews/020/336/136/non_2x/playstation-ps5-ps4-logo-free-free-vector.jpg" class="absolute inset-0 w-full h-full object-cover">  
<span class="relative font-bold text-lg">{{cambio()}} </span></button>
    <!--Xbox-->
<button id="tilin3" (click)="cambio3()" class="w-20 h-23 gap-3 px-5 py-3 bg-black/50 rounded-xl relative overflow-hidden hover:scale-105 transition-transform duration-300"> 
<img src="https://tse2.mm.bing.net/th/id/OIP.cSGDJh8WVTy25QYmglRg-wHaE8?rs=1&pid=ImgDetMain&o=7&rm=3" class="absolute inset-0 w-full h-full object-cover">  
<span class="relative font-bold text-lg">{{cambio()}} </span></button>
    <!--PC-->
<button id="tilin4" (click)="cambio4()" class="w-20 h-23 gap-3 px-5 py-3 bg-black/50 rounded-xl relative overflow-hidden hover:scale-105 transition-transform duration-300"> 
<img src="https://images-na.ssl-images-amazon.com/images/G/01/digital-videogames/vghp/NEW/PC750.png" class="absolute inset-0 w-full h-full object-cover">  
<span class="relative font-bold text-lg">{{cambio()}} </span></button>
</div>
<br><br>
<div class="text-2xl font-bold mt-5">
<p>En esta guia te mostraremos cosas como los enemigos, jefes, zonas de mapa, amuletos, etc</p>
</div>
<br><br>
<div class="text-center justify-items-center">
    <!--Enemigos-->
<a class="relative w-49 h-49 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="http://localhost:4200/enemigos">
    <img src="https://i.pinimg.com/736x/a0/06/2f/a0062f039f4780329262056c0e5b61aa.jpg" class="absolute inset-0 w-full h-full object-cover"/>
    <span class="absolute inset-0 flex items-center justify-center bg-black/20 text-white font-bold">Enemigos</span></a>
    <!--Jefes-->
<a class="relative w-49 h-49 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="http://localhost:4200/jefes">
    <img src="https://i.ytimg.com/vi/RblFDn5zBTs/maxresdefault.jpg" class="absolute inset-0 w-full h-full object-cover"/>
    <span class="absolute inset-0 flex items-center justify-center bg-black/20 text-white font-bold">Jefes</span></a>
    <!--Mapa-->
<a class="relative w-49 h-49 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="http://localhost:4200/mapa">
    <img src="https://tse1.mm.bing.net/th/id/OIP.LCI5-SgROe_R-dVrxGsgzAHaFO?rs=1&pid=ImgDetMain&o=7&rm=3" class="absolute inset-0 w-full h-full object-cover"/>
    <span class="absolute inset-0 flex items-center justify-center bg-black/20 text-white font-bold">Mapa</span></a><br>
    <!--Amuletos-->
<a class="relative w-49 h-49 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="http://localhost:4200/amuletos">
    <img src="https://static0.hardcoregamerimages.com/wordpress/wp-content/uploads/2024/05/untitled-design-87.jpg" class="absolute inset-0 w-full h-full object-cover"/>
    <span class="absolute inset-0 flex items-center justify-center bg-black/20 text-white font-bold">Amuletos</span></a>
    <!--Habilidades-->
<a class="relative w-49 h-49 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="http://localhost:4200/habilidades">
    <img src="https://pm1.narvii.com/7600/cf0b391c7cb5b81da630fb37c3fcc661c113b8d8r1-1024-576v2_hq.jpg" class="absolute inset-0 w-full h-full object-cover"/>
    <span class="absolute inset-0 flex items-center justify-center bg-black/20 text-white font-bold">Habilidades</span></a>
    <!--Personajes-->
<a class="relative w-49 h-49 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="http://localhost:4200/personajes">
    <img src="https://tse3.mm.bing.net/th/id/OIP.wwHM2sQiSLki5lZNWzG0WQHaEX?rs=1&pid=ImgDetMain&o=7&rm=3" class="absolute inset-0 w-full h-full object-cover"/>
    <span class="absolute inset-0 flex items-center justify-center bg-black/20 text-white font-bold">Personajes</span></a>
</div>
<br><br>
<div class="text-center ">
<a href="https://store.steampowered.com/app/367520/Hollow_Knight/" > Comprar Hollow Knight en Steam </a>
<a href="https://www.youtube.com/watch?v=UAO2urG23S4" > Ver Trailer de Hollow Knight </a>
</div>
<br><br>
<section class="w-screen bg-black text-white py-1">
    <div class="text-center">
    <div class="text-xl font-bold mt-5">
    <p> Te gustaria descubrir más juegos interesantes y entretenidos?</p>
    <p> Descubre más de ellos a continuación! </p>
</div>
<br>
    <h2 class="text-x1 font-bold mb-4">JUEGOS RECOMENDADOS EN <br> PC/XBOX/PS/SWITCH</h2>
    <h5 class="text-x1 font-bold mb-4">¡PATROCINADO POR R A W G!</h5>
    <p class="text-x1 font-bold mb-4">NO TODOS LOS JUEGOS ESTAN DISPONIBLES EN TODAS LAS PLATAFORMAS</p>
    <h5 class="text-x1 font-bold mb-4">Abajo podrás ir al sitio ofical de Steam y al sitio ofical de R A W G</h5>
    <!--Steam-->
    <a class="relative w-20 h-23 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="https://store.steampowered.com/">
        <img src="https://tse1.mm.bing.net/th/id/OIP.ti_w9fIYP4mz6GGThbZVMQHaEK?rs=1&pid=ImgDetMain&o=7&rm=3" class="absolute inset-0 w-full h-full object-cover"/></a>
    <!--R A W G-->
    <a class="relative w-20 h-23 rounded-xl overflow-hidden border-4 border-white shadow-lg hover:scale-105 transition-transform duration-300" href="https://rawg.io/">
        <img src="https://cdn-images-1.medium.com/max/1200/1*BpN9QAQTn892BeJvKq7FMQ.png" class="absolute inset-0 w-full h-full object-cover"/></a><br><br>
    <!--API-->
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let g of games()" class="items-center game-card bg-black/40 rounded-lg p-2 text-center text-white hover:bg-white/10 transition w-full">
            <img class="rounded-lg object-cover" *ngIf="g.background_image" [src]="g.background_image" alt="{{g.name}}" class="w-full h-full object-cover rounded-md mb-2"/>
            <div class="text-xl font-medium truncate">{{g.name}}</div>
            </div>
    </div>
    </div>
</section>