/* You can add global styles to this file, and also import other style files */
body {
    background-color: darkgray;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.background-video {
    position: fixed; /* Mantiene el video fijo en la pantalla */
    top: 0;
    left: 0;
    min-width: 90%;
    min-height: 90%;
    z-index: -1; /* Envía el video detrás de todo el contenido */
    object-fit: cover; /* Asegura que el video cubra todo el espacio sin distorsionarse */
}

.content {
    position: relative;
    z-index: 1; /* Coloca el contenido encima del video */
    color: white; /* Ejemplo de color de texto para que sea legible */
    padding: 20px;
    padding-top: 72px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 100vw;
}

    .textito {
      font-family: 'holapijes', Bahnschrift, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
@import "tailwindcss";